
PORT=5000
NODE_ENV="development"

DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:5000"
DEV_USER_ID=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
