
PORT=5000
NODE_ENV="development"
TRUSTED_ORIGINS=http://localhost:3000

DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:5000"
#DEV_USER_ID=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


REDIS_HOST="localhost"
REDIS_PORT="6379"

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=

PINECONE_API_KEY=
PINECONE_INDEX=

GEMINI_API_KEY=
GROQ_API_KEY=
UPSTASH_REDIS_URL=
